html
  head
    title= title
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    body
      div(className ="col-md-6" ,id="root")
      script(src="/build/bundle.js")
